body{
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    font-size: 32px;
  background-color:black;
  color: white;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

.header{

    font-weight: bold;
    display: flex;
}
.headerTail{
    flex-grow: 1;
    display: flex;
    justify-content: end;

}
.bodyPart{


    height:92vh
}
.footer{
    display: flex;
    justify-content: end;
    font-size: 16px;
}

.leftPart{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    flex-direction: column !important;
    
}

.rightPart{
  
    margin: auto ;
}

.countrySelect:before {
    border-color: white;
}
.countrySelect:after {
    border-color: white;
}



.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .signUpWindow{
    padding: 10px;
    background-color: rgb(34, 34, 34);
    color : white;
    border: 2px solid white;
  }

  .codeVerifyWindow{
    padding: 10px;
    background-color: rgb(34, 34, 34);
    color : white;
    font-size: 16px;
  }

  .errorMsg{
    font-size: 16px;
    color: red;
    font-style: italic;
  }

  .codes{
    display: flex;
    margin-top: 20px;
  }
  .code {
    margin-left: 20px;
    height: 50px;
    width: 40px;
    background-color: rgb(34, 34, 34);
    color: white;
    border : 1px solid white;
    font-size: 48px;
    
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.closeIcon{
  position: absolute;
  right : 10px;
  top : 10px;
  width: 30px;
  height:30px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
.videoControl{
  position: absolute;
  bottom: 10px;
  width: 100%;

  display: flex;
  justify-content: center;
  z-index: 999
}
.searchIcon {
  width:80px;
  height:80px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

